
/* latin */
@font-face {
  font-family: 'Sniglet';
  font-style: normal;
  font-weight: 400;
  src: url(/font/sniglet.ttf) format('woff2');
  unicode-range: U+0000-00FF;
}


/* latin */
@font-face {
  font-family: 'PassionOne';
  font-style: normal;
  font-weight: 400;
  src: url(/font/PassionOne-Regular.ttf) format('woff2');
  unicode-range: U+0000-00FF;
}
