/* RESET! */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* ok done */


body {
  font-family: 'PT Sans', sans-serif;
  min-height: 600px;

  -webkit-transition: background 0.5s linear;
  -moz-transition:    background 0.5s linear;
  -ms-transition:     background 0.5s linear;
  -o-transition:      background 0.5s linear;
  transition:         background 0.5s linear;
}

body.blue {
  color: black;
  background: #48f;
}

body.blue-gradient {
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(#48f)), to(#248));
  background: -webkit-radial-gradient(#48f, #248);
  background:    -moz-radial-gradient(#48f, #248);
  background:     -ms-radial-gradient(#48f, #248);
  background:      -o-radial-gradient(#48f, #248);
  background:         radial-gradient(#48f, #248);
}

body.purple {
  color: #fff;
  background: #328;
}

body.purple-gradient {
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(#328)), to(#224));
  background: -webkit-radial-gradient(#328, #224);
  background:    -moz-radial-gradient(#328, #224);
  background:     -ms-radial-gradient(#328, #224);
  background:      -o-radial-gradient(#328, #224);
  background:         radial-gradient(#328, #224);
}

body.white {
  color: #000;
  background: #fff;
}

body.white-gradient {
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(#fff)), to(#eee));
  background: -webkit-radial-gradient(#fff, #eee);
  background:    -moz-radial-gradient(#fff, #eee);
  background:     -ms-radial-gradient(#fff, #eee);
  background:      -o-radial-gradient(#fff, #eee);
  background:         radial-gradient(#fff, #eee);
}

b, strong { font-weight: bold }
i, em { font-style: italic }

/* Slide style */

.step {
  position: relative;
  width: 1024px;
  padding: 40px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  -ms-box-sizing:     border-box;
  -o-box-sizing:      border-box;
  box-sizing:         border-box;

  font-family: 'Sniglet', cursive;
  font-size: 32pt;
  line-height: 1.2;
}

.impress-enabled .step {
  opacity: 0;

  -webkit-transition: opacity 1s;
  -moz-transition:    opacity 1s;
  -ms-transition:     opacity 1s;
  -o-transition:      opacity 1s;
  transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }


/* Specialized */

h1 {
  color: #f80;
}

.red {
  color: black;
}

#judul {
  font-family: 'PassionOne';
  font-size: 72pt;
}

.btn {
  color: white;
  display: inline;
  padding: 10px;
  border-radius: 5px;
  font: 'Sniglet';
  background: #f80;
}
